@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import "bulma.variables";
@import "~bulma/bulma";

.navbar-menu-mobile {
    z-index: 3;
}

.cor-branca-ancora {
    @media screen and (max-width: 768) {
        color: white !important;
        a {
            color: white;
        }
    }
    .content-column-header {
        padding-top: 9px !important;
    }
}
